@import url("https://fonts.googleapis.com/css?family=Orbitron&text=0123456789:AMP");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
body {
  background-image: url("https://i.imgur.com/yd2Khpv.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover; }

.contain {
  margin: 25vh 25vw; }

h1.page-title {
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-size: 10vh;
  text-align: center;
  font-weight: 900;
  margin-top: -10vh; }

#reactor {
  margin-top: 10vh;
  display: flex;
  justify-content: space-around; }

#content {
  display: grid;
  grid-gap: 10vh 10vw;
  grid-template-areas: "left-label right-label" "left-length right-length" "session session"; }

.left-panel, .right-panel {
  background-color: orange;
  border-radius: 5px;
  border: 2px solid black;
  padding: 5px; }

h2#break-label, h2#session-label, h2#timer-label {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700; }

h2#break-label {
  grid-area: left-label; }

h2#session-label {
  grid-area: right-label; }

.controls-left {
  grid-area: left-length;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vh;
  font-weight: 700; }

.controls-right {
  grid-area: right-length;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vh;
  font-weight: 700; }

.fa, .fas {
  font-size: 5vh; }

.bottom-center-panel {
  grid-area: session;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
  border-radius: 5px;
  border: 2px solid black;
  padding: 5px; }

#time-left {
  border-radius: 50%;
  border: 3px solid black;
  padding: 20px;
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
  font-weight: 900;
  background-color: black;
  color: white; }

.time-controls {
  padding: 5px; }

i#start_stop, i#reset {
  padding: 5px; }

.yellow-text {
  color: yellow !important; }

.white-text {
  color: white; }
